.footer {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 15px 0;
    color: white;
    font-size: 14px;
    margin-top: 0px; 
}

@media (max-width: 1024px) {
    .footer {
        font-size: 13px;
        padding: 12px 0;
        max-width: 95%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .footer {
        font-size: 12px;
        padding: 10px 0;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .footer {
        font-size: 11px;
        padding: 8px 0;
        max-width: 100%;
    }
}
