<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dawid Ogrodniczuk</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>

<!-- About me
 Recent Software Engineering Graduate with practical experience in developing full-stack applications and commitment to expanding technical knowledge. Successfully balanced 8 years of full-time management experience alongside academic achievements, demonstrating strong leadership and organisational skills. Highlights include:
•	Hands-on experience with Python, Java, HTML, and SQL, with exposure to Kotlin through academic coursework.
•	Developed two full-stack applications during University, with additional projects planned to develop technical capabilities.
•	Skilled in troubleshooting, team management, and adapting to new technologies in dynamic environments.
•	Seeking a Software Engineer role to apply and expand technical expertise. -->


<!-- Education 
    Bournemouth University, Faculty of Computing	Bournemouth
    Bachelor of Science - Software Engineering (2:2)	Sept 2021 – 2024
    
    Weymouth College, Faculty of Computing	Weymouth
    Level 3 IT Extended Diploma (DDM)		Sept 2019 - 2021 -->
    

<!-- Project Expierence
•	Business Systems Analysis and Design (BSAD) – Led a team of 8 to analyse and design business solutions, focusing on stakeholder communication, requirement gathering and creating a full stack application based on requirements. 
•	Systems Design – Collaborated in a team of 4 to create high-level system diagrams and process flows for a smart parking system.
•	Application Programming – developed a Kotlin-based Battleships mobile game, implementing UI and game logic to pass pre-written test cases.
•	Advanced Development (Mobile Application) – Worked in a team of 8 to develop a fitness tracking app, utilising Agile methodologies and full-stack development. -->

<!-- One div with a tab to swtich between Project or work expierence -->
<!-- Revelant Expierence 
 Bournemouth University Hackathon (with ClickASnap & Teemil) – AI-Powered T-shirt design.
•	Developed a Python application that used AI to merge two images into a single design for T-shirt printing.
•	Collaborated in a team of four to deliver a functional prototype within 48 hours in a fast-paced environment. -->


<!-- Project Expierence
•	Business Systems Analysis and Design (BSAD) – Led a team of 8 to analyse and design business solutions, focusing on stakeholder communication, requirement gathering and creating a full stack application based on requirements. 
•	Systems Design – Collaborated in a team of 4 to create high-level system diagrams and process flows for a smart parking system.
•	Application Programming – developed a Kotlin-based Battleships mobile game, implementing UI and game logic to pass pre-written test cases.
•	Advanced Development (Mobile Application) – Worked in a team of 8 to develop a fitness tracking app, utilising Agile methodologies and full-stack development. -->


<!-- Work Expierence
    Dominos 	Weymouth
    Shift Manager	June 2017 - Now 
•	Supervised team compliance with legal and company requirements, ensuring all employee documentation, such as work permits and visas, remained valid and up to date.
•	Streamlined operational workflows by managing daily administrative tasks, including paperwork and scheduling, improving overall efficiency.
•	Resolved customer concerns quickly and effectively to maintain satisfaction.
•	Trained and supported new staff, ensuring they understood their roles and responsibilities
•	Collaborated with management to optimise team performance and align daily operations with broader business objectives.
•	Controlled labour, food, and utility costs to meet business targets.
    Self-Employment XCELERATE Tuning	Dorchester 
    ECU Software Solutions	Sept 2023 - Now
•	Designed and implemented custom vehicle-tuning software solutions for clients.
•	Conducted advanced diagnostics to resolve complex system issues. 
•	Managed end-to-end client projects, ensuring timely delivery and customer satisfaction. 
•	Managed all aspects of the business, including scheduling, client relations, and finances.
•	Stayed up to date with industry developments to offer modern and effective solutions. -->





    <!-- format 2
    About me
    Expertise & Milestones
    Education
    Expierences
    Projects
    -->
  
<body>
    <div class="container">

        <!-- Navigation -->
        <div class="navigation">
            <div class="nav-wrapper">
                <ul>
                    <li><a href="#about">Home</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#expierence">Expierence</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            
        </div>

        <!-- About me -->
        <div class="About">
            Home, Technologies, Education, Expierence, Projects, Contact
            Dawid Ogrodniczuk
            (Pinpoint icon) Dorchester, United Kingdom
            Graduate Software Engineer intrested in x (changing words)
            Hyperlinks to socials (Download CV)
            // Technologies (type & icons)
        </div>

    </div>
</body>
</html>

