<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    Based in UK
    Software Engineer
    Dawid Ogrodniczuk
    Picture + Hyperlinks.

    Current Technologdy stacks
    I'm proficient in a range of modern technologies that empower me to build highly functional solutions.
    These are some of my technologies
    Figma, Javascript, Tailwind, Git, Java, Python, CSS // techstacks

    My portafolio: # Until I create it and have some projects.

    Future Projects Aims:
    Finance management solution
    Photography copyright watermark tool.
    Vehicle Diagnostics Reading Software
</body>
</html>